  <%= stylesheet_link_tag "trees" %>
<p style="color: green"><%= notice %></p>

<div class="container">

<% if user_signed_in?%>

  <%= link_to "Create your own Link Tree", new_tree_path, class: "button-1"%>
  
<% else %>
<%= link_to "Create your own Link Tree",  new_user_registration_path, class:"button-1"%>

<% end %>

</div>